body{
  background-color: #F9CC9D;
  margin: 0;
}
/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.logo{
  float: left;
  margin-top: 15px;
}
.navbar{
  box-sizing: border-box;
  position: fixed;
  height: 85px;
  align-items: center;
  background: #222;
  color: white;
  padding: 0 20px 0 0;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  width: 100%;
}
.searchbar {
  display: inline-block;
}
.searchbar input{
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid ;
  border-radius: 50px;
  float: left;
  width: 250px;
  height: 40px;
  font-size: 15px;
}
.fa-search {
  color: grey;
  font-size: 25px;
  position: relative;
  top: 25;
  margin: 27px;
  /* z-index: 1; */
  left: -60px;
}
#profile {
margin-top: 14px;
float: right;
}
#links{
  float: left;
  margin-top: 30px;
}

#links a{
  color: white;
  text-decoration: none;
  padding: 30px 8px;
}
